#canvas {
    position:fixed;
    left:0;
    right:0;
 }

.pixel_art{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#drop_zone {
    cursor: pointer;
    border: 3px dashed var(--blue);
    height: 30px;
    border-radius: 5px;
}

[data-theme="dark"] #drop_zone {
    background-color: var(--dark);
    border: 3px dashed var(--blue);
    height: 30px;
}


#output {
height: 250px;
width:100%;
}

.scrollx-group > .row {
display: flex;
flex-wrap: nowrap;
overflow-x: auto;
}
.scrollx-group > .row > .col-xs-4 {
flex: 0 0 auto;
}
.scrollx-group > .row > .col {
flex: 0 0 auto;
}

[data-theme="dark"] {
background-color:var(--dark) !important;
color: var(--light) !important;
}

/* the filled circle in the switch was to high */
.custom-switch .custom-control-label::before{
    top: .23rem;
}

[data-theme="dark"] .custom-control-input:checked ~ .custom-control-label::before {
border-color: var(--secondary) !important;
background-color: var(--secondary) !important;
}

#port1, #port2 {
    height:32px;
    min-width:80px;
    width: 48%;
    padding-top: .165rem;
    margin-top: 1px; 
    background-color: inherit !important;
    border-color: var(--dark);
    color: var(--dark) !important;
}

    
[data-theme="dark"] #port1, [data-theme="dark"] #port2 {
    border-color: var(--light);
    color: #aaa !important;
}


.btn-sm
{
    font-size: .86rem;
}

.custom_key
{
    font-size: 1.2rem !important;
    opacity: 0.7 !important;
}

[data-theme="dark"] .custom-select {
color: var(--light) !important;
border-color: var(--light) !important;
}

[data-theme="dark"] #output {
background-color: var(--gray) !important;
color: var(--light) !important;
}

[data-theme="dark"] .modal-content {
background-color: #333 !important;
}

[data-theme="dark"] .close {
color: var(--light) !important;
}

[data-theme="dark"] .card {
background-color: #555 !important;
}

[data-theme="dark"] .list-group-item {
background-color: #555 !important;
color: var(--light) !important;
}

[data-theme="dark"] .list-group-item.active {
background-color: #007bff !important;
}

[data-theme="dark"] .list-group-item.disabled {
color: #aaa !important;
}



#virtual_keyboard {
    position:fixed;
    bottom:0;
    z-index:999;
    width:100%;
    background-color: #bbb;
}

[data-theme="dark"] #virtual_keyboard {
    background-color:var(--gray-dark);
}

#navbar {
    background-color: #bbb;

    position: fixed; 
    top:0; 
    left:0; 
    opacity: 0.85; backdrop-filter: blur(6px);
}

[data-theme="dark"] #navbar {
    background-color:var(--gray-dark);
}
    
    

.icon {
    fill: var(--dark);
    color: var(--dark) !important;
}

[data-theme="dark"] .icon {
    fill: var(--light);
    color: var(--light) !important;
}




.justify-start {
  margin-right: auto;
}




.custom-control-lg .custom-control-label::before,
.custom-control-lg .custom-control-label::after {
    top: 0.0rem !important;
    left: -2rem !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.custom-control-lg .custom-control-label {
    margin-left: 0.5rem !important;
    font-size: 1rem !important;
}